/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/

html, body {
	height: 100%;
}


body {
	background: url(../img/bg.png) fixed repeat-x;
	padding-top: 50px;
}

//.container { width: @container-large-desktop !important; }



/* ================== END Template Layout ============== */
