/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/

html, body {
	position: relative;
	min-height: 100%;
}


body {
	background: url(../img/bg.png) fixed repeat-x;
	padding-top: 10px;
	margin-bottom: 60px;
}

.container-fluid {
    max-width: 1200px;
}



/* ================== END Template Layout ============== */
