/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/

html {
	position: relative;
	min-height: 100%;
}


body {
	position: static;
	min-height: 100%;
	background: url(../img/bg.png) fixed repeat-x;
	padding-top: @navbar-height;
	margin-bottom: 60px;
}

.container-fluid {
    max-width: 1200px;
}

#dummy-element{width:2px;}




/* ================== END Template Layout ============== */
