      	<footer class="net54-footer">
      		NET&#39;54 Business Communications Ltd. |
      		1138 Budapest, Váci út 168. |
      		Helpdesk: +36 1 270 9575 |
      		<a href="mailto: helpdesk@net54.hu">helpdesk@net54.hu</a> |
      		Web: <a target="_blank" href="http://www.net54.hu">www.net54.hu</a> |
      &copy; 2004&ndash;2015.	</footer>

