    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
          	<img src="assets/img/logo.png" alt="">
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
           <li class="active">
             <a href="#"><span class="icon-entypo-gauge"></span>Dashboard</a>
           </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="icon-entypo-cog"></span> Administration <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#"><span class="icon-entypo-chevron-small-right"></span> Extension</a></li>
                <li><a href="#"><span class="icon-entypo-chevron-small-right"></span> Recording channels</a></li>
                <li><a href="#"><span class="icon-entypo-chevron-small-right"></span> Users </a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon-entypo-chevron-small-right"></span> Groups</a></li>
                <li><a href="#"><span class="icon-entypo-chevron-small-right"></span> Recording programs</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="icon-entypo-book"></span>Dictionaries</a>
            </li>
            <li>
              <a href="#"><span class="icon-entypo-search"></span>Search</a>
            </li>
            <li>
              <a href="#"><span class="icon-entypo-area-graph"></span>System</a>
            </li>
            <li>
              <a href="#"><span class="icon-entypo-numbered-list"></span>Settings</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="icon-entypo-user"></span>Kovács Béla</a></li>
            <li><a href="#"><span class="icon-entypo-logout"></span>Exit</a></li>
          </ul>

        </div>
      </div>
    </div>

