---
title: NET54 jqGrid
icon: fa fa-font
javascripts:
- lib/jqgrid/i18n/grid.locale-hu.js
- lib/jqgrid/jquery.jqGrid.min.js
---
<!-- Widgets
================================================== -->
<div class="bs-docs-section">
      <div class="page-header">
            <h1 id="buttons">Widgets</h1>
      </div>
      <div class="row">
            <div class="col-sm-12">
            	<div class="panel panel-default">
            	<table id="jqGrid"></table>
            	<div id="jqGridPager"></div>
            	</div>
            </div>
      </div>
</div>