---
title: NET54 icons
icon: fa fa-font
javascripts:

stylesheets:


---



<!-- Widgets
================================================== -->
<div class="bs-docs-section">
      <div class="page-header">
            <h1 id="buttons">Icons</h1>
      </div>
      <div class="row">
            <div class="col-sm-12">
                  <div class="panel panel-default net54-icon-preview">


                    <div class="clearfix mhl ptl">
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-play-circle">
                            
                            </i>
                            <span class="mls"> net54-icon-play-circle</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-pause-circle">
                            
                            </i>
                            <span class="mls"> net54-icon-pause-circle</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-stop-circle">
                            
                            </i>
                            <span class="mls"> net54-icon-stop-circle</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-backward-circle">
                            
                            </i>
                            <span class="mls"> net54-icon-backward-circle</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-forward-circle">
                            
                            </i>
                            <span class="mls"> net54-icon-forward-circle</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-play">
                            
                            </i>
                            <span class="mls"> net54-icon-play</span>
                        </div>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-pause">
                            
                            </i>
                            <span class="mls"> net54-icon-pause</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-stop">
                            
                            </i>
                            <span class="mls"> net54-icon-stop</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-backward">
                            
                            </i>
                            <span class="mls"> net54-icon-backward</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-forward">
                            
                            </i>
                            <span class="mls"> net54-icon-forward</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-first">
                            
                            </i>
                            <span class="mls"> net54-icon-first</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-last">
                            
                            </i>
                            <span class="mls"> net54-icon-last</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-previous">
                            
                            </i>
                            <span class="mls"> net54-icon-previous</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-next">
                            
                            </i>
                            <span class="mls"> net54-icon-next</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-record">
                            
                            </i>
                            <span class="mls"> net54-icon-record</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-outgoing">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-outgoing</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-onhold">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-onhold</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-transfer">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-transfer</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-onhold-back">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-onhold-back</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-hangup">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-hangup</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-phone-answer">
                            
                            </i>
                            <span class="mls"> net54-icon-phone-answer</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-status-outgoing">
                            
                            </i>
                            <span class="mls"> net54-icon-status-outgoing</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-status-incoming">
                            
                            </i>
                            <span class="mls"> net54-icon-status-incoming</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-status-internal">
                            
                            </i>
                            <span class="mls"> net54-icon-status-internal</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-progress-inprogress">
                            
                            </i>
                            <span class="mls"> net54-icon-progress-inprogress</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-progress-disconnected">
                            
                            </i>
                            <span class="mls"> net54-icon-progress-disconnected</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-progress-">
                            
                            </i>
                            <span class="mls"> net54-icon-progress-</span>
                        </div>
                    </div>
                    <div class="glyph fs1">
                        <div class="clearfix bshadow0 pbs">
                            <i class="net54-icon-progress-disconnected-hard">
                            
                            </i>
                            <span class="mls"> net54-icon-progress-disconnected-hard</span>
                        </div>
                    </div>
    
                    </div>

                  </div>
            </div>
      </div>
</div>