---
title: NET54 icons
icon: fa fa-font
javascripts:

stylesheets:


---



<!-- Widgets
================================================== -->
<div class="bs-docs-section">
      <div class="page-header">
            <h1 id="buttons">Icons</h1>
      </div>
      <div class="row">
            <div class="col-sm-12">
                  <div class="panel panel-default net54-icon-preview">


                    <div class="bgc1 clearfix">
                        <h1 class="mhmm mvm"><span class="fgc1">Font Name:</span> net54-icon <small class="fgc1">(Glyphs:&nbsp;13)</small></h1>
                    </div>
                    <div class="clearfix mhl ptl">
                        <h1 class="mvm mtn fgc1">Grid Size: Unknown</h1>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0DB">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0DB</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0DC">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0DC</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0DD">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0DD</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0DE">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0DE</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0DF">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0DF</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E0">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E0</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E1">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E1</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E2">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E2</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E3">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E3</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E4">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E4</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E5">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E5</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E6">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E6</span>
                            </div>
                        </div>
                        <div class="glyph fs1">
                            <div class="clearfix bshadow0 pbs">
                                <i class="net54-icon-uniE0E7">
                                
                                </i>
                                <span class="mls"> net54-icon-uniE0E7</span>
                            </div>
                        </div>
                  </div>

                  </div>
            </div>
      </div>
</div>