---
title: NET54 Basic HTML Elements
icon: fa fa-font
stylesheets:
---
<!-- Widgets
================================================== -->
<div class="net54-dashboard">
      <div class="row">
            <div class="col-sm-9">
                  <div class="row">
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w1" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Last 7 days average: <b>243</b> calls
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w2" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Today hourly average: <b>33</b> calls
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                                    <div class="panel-heading">
                                          <h3 class="panel-title">Recording Paths</h3>
                                    </div>
                                    <div class="panel-body">
                                          
                                          <div class="row">
                                                <div class="col col-xs-2">
                                                      <div class="chart" id="w4"></div>
                                                </div>
                                                <div class="col col-xs-6">
                                                      <div class="content">
                                                            <ul class="content-data list-unstyled">

                                                            <li>
                                                                 E:\Magnetofon\voices\temp\Magnetofon\voices\temp  
                                                            </li>
                                                            <b>9388MB / 20.48GB </b> <br>
                                                            <li>
                                                                  
                                                            </li>
                                                            <a href="">Tároló tipusa</a>
                                                            <li>
                                                                  
                                                            </li>      
                                                            </ul>
                                                      </div>
                                                </div>
                                                <div class="col col-xs-3">
                                                      <div class="content content-large text-center">
                                                            46%
                                                      </div>
                                                </div>
                                                <div class="spin-buttons">
                                                      <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                      <span class="glyphicon glyphicon-chevron-up"></span>
                                                      </button>
                                                      <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                      <span class="glyphicon glyphicon-chevron-down"></span>
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                                    <div class="panel-heading">
                                          <h3 class="panel-title">Longest Calls Today</h3>
                                    </div>
                                    <div class="panel-body">
                                          <div class="row">
                                                <div class="col-xs-6">
                                                      <div class="content">
                                                            <ul class="content-data">
                                                                        <li>
                                                                              2087
                                                                        </li>

                                                                        <li>
                                                                              Soproni Dániel
                                                                        </li>
                                                                  </ul>
                                                      </div>
                                                </div>
                                                <div class="col-xs-5">
                                                      <div class="content content-large text-center">
                                                            46m 49s
                                                      </div>
                                                </div>
                                                <div class="spin-buttons">
                                                      <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                      <span class="glyphicon glyphicon-chevron-up"></span>
                                                      </button>
                                                      <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                      <span class="glyphicon glyphicon-chevron-down"></span>
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-12" id="currentCallsContainer">
                                                      <div class="panel panel-default net54-current-calls">
                                                            
                                                            <table class="table table-hover table-condensed">
                                                                  <thead>
                                                                        <tr>
                                                                              <th></th>
                                                                              <th>Channel</th>
                                                                              <th>Arrived</th>
                                                                              <th>Station</th>
                                                                              <th>State</th>
                                                                              <th>Recording</th>
                                                                              <th>Recording Program</th>
                                                                              <th></th>
                                                                        </tr>
                                                                  </thead>
                                                                  <tbody id="currentCalls">
                                                                  <tr><td id="recordingState2801" class="net54-recording"></td><td>2801</td><td id="arrived2801"></td><td id="state2801"></td><td id="station2801"></td><td id="recording2801"></td><td id="program2801"></td><td id="details2801" class="text-right"></td></tr><tr><td id="recordingState2802" class="net54-recording"><span class="glyphicon glyphicon-record" title="Recording..."></span></td><td>2802</td><td id="arrived2802">2016-02-24 11:42:51</td><td id="state2802">In Line</td><td id="station2802">2084</td><td id="recording2802"><div class="progress" style="margin-bottom: 0" id="progress23661" data-toggle="popover" data-html="true" data-content="&lt;div id=&quot;popoverId2802&quot;&gt;&lt;strong id=&quot;popoverDirection&quot; class=&quot;text-danger&quot;&gt;Incoming call&lt;/strong&gt;&lt;br/&gt;&lt;br/&gt;&lt;strong&gt;Other party:&lt;/strong&gt; &lt;span id=&quot;popoverOtherParty&quot;&gt;06709439436&lt;/span&gt;&lt;br/&gt;&lt;strong&gt;Start time:&lt;/strong&gt; &lt;span id=&quot;popoverArrived&quot;&gt;2016-02-24 11:42:51&lt;/span&gt;&lt;br&gt;&lt;strong&gt;Length:&lt;/strong&gt; &lt;span id=&quot;popoverRecLength&quot;&gt;00:01:02&lt;/span&gt;&lt;/div&gt;" data-original-title="" title=""><div class="progress-bar progress-bar-success" style="width: 5.2028333333333325%;"></div></div></td><td id="program2802">Teljes rögzítés</td><td id="details2802" class="text-right"><span class="btn btn-primary btn-xs" onclick="net54.call.showCallDetails(23661)">Details</span></td></tr><tr><td id="recordingState2803" class="net54-recording"></td><td>2803</td><td id="arrived2803"></td><td id="state2803"></td><td id="station2803"></td><td id="recording2803"></td><td id="program2803"></td><td id="details2803" class="text-right"></td></tr></tbody>
                                                            </table>
                                                      </div>
                                                </div>

                  </div>



            </div>
            <div class="col-sm-3">

                                          <div id="systemMessagesPanel" class="panel panel-default net54-system-messages">
                                                                              <div class="panel-heading">
                                                                                    <h3 class="panel-title">System Messages</h3>
                                                                                    <div class=" btn-group pull-right">

                                                                                      <a href="#" class="btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom"><span class="status-indicator status-indicator-on"></span></a> 
                                                                                      <a href="#" class="btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom"><span class="status-indicator status-indicator-on"></span></a> 
                                                                                      <a href="#" class="btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom"><span class="status-indicator status-indicator-on"></span></a> 
                                                                                    </div>

                                                                              </div>
                                                                        <div class="panel-body scroll-pane">
                                                                              <ul class="list-group" style="margin-bottom: 0">
                                                                                                                        <li class="list-group-item" data-id="1597"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;029&nbsp;320).</span><br><span class="net54-system-message-timestamp">2016.02.24 02:37:42</span></div></li><li class="list-group-item" data-id="1596"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;029&nbsp;319).</span><br><span class="net54-system-message-timestamp">2016.02.23 16:40:24</span></div></li><li class="list-group-item" data-id="1595"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikeresen megtörtént, mellék: 7008.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:07:42</span></div></li><li class="list-group-item" data-id="1594"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikeresen megtörtént, mellék: 2069.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:07:12</span></div></li><li class="list-group-item" data-id="1593"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítő csatorna regisztrálása megtörtént, eszköz: 2803.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:44</span></div></li><li class="list-group-item" data-id="1592"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítő csatorna regisztrálása megtörtént, eszköz: 2802.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:44</span></div></li><li class="list-group-item" data-id="1591"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítő csatorna regisztrálása megtörtént, eszköz: 2801.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:43</span></div></li><li class="list-group-item" data-id="1590"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikeresen megtörtént, mellék: 2069.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:42</span></div></li><li class="list-group-item" data-id="1589"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikeresen megtörtént, mellék: 2087.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:41</span></div></li><li class="list-group-item" data-id="1588"><div class="net54-system-message-level net54-system-message-level-info"><span class="glyphicon glyphicon-info-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikeresen megtörtént, mellék: 2084.</span><br><span class="net54-system-message-timestamp">2016.02.23 12:04:41</span></div></li></ul>

                                                                        </div>
</div>



                              <div id="licencePanel" class="panel panel-default net54-licence-information">
                                                                  <div class="panel-heading">
                                                                        <h3 class="panel-title">Licence Information</h3>
                                                                  </div>
                                                                  <div class="panel-body">

                                                                  <table class="table table-condensed table-borderless">
                                                                        <tbody>
                                                                        <tr>
                                                                              <td>Software Version</td>
                                                                              <td class="text-right"><strong>v1.0</strong></td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>Total Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>Selective Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <!-- Számszerű licenc limitek -->
                                                                        <tr>
                                                                              <td>Standard Channels</td>
                                                                              <td class="text-right"><span id="channels">3</span> / 10</td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Channels</td>
                                                                              <td class="text-right"><span id="rodChannels">0</span> / 5</td>
                                                                        </tr>
                                                                        <tr>
                                                                              <td>Standard Endpoints</td>
                                                                              <td class="text-right"><span id="endpoints">4</span> / 5</td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Endpoints</td>
                                                                              <td class="text-right"><span id="rodEndpoints">0</span> / 5</td>
                                                                        </tr>
                                                                        </tbody>
                                                                  </table>
                                                                  </div>
                                                            </div>
                        </div>
                  </div>
            </div>
            <div id="tooltipBox"></div>
            <script>
            </script>