---
title: NET54 Basic HTML Elements
icon: fa fa-font
stylesheets:
---
<!-- Widgets
================================================== -->
<div class="net54-dashboard">
      <div class="row">
            <div class="col-sm-9">
                  <div class="row">
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w1" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Last 7 days average: <b>243</b> calls
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w2" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Today hourly average: <b>33</b> calls
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                              <div class="panel-heading">
                              <h3 class="panel-title">Recording Paths</h3>
                              </div>

                                    <div class="panel-body">
                                                
                                          <div class="row">
                                                <div class="col col-xs-2">
                                                      <div class="chart" id="w4"></div>
                                                </div>
                                                <div class="col col-xs-6">
                                                      <div class="content">
                                                            E:\Magnetofon\voices\temp <br>
                                                            <b>9388MB / 20.48GB </b>
                                                      </div>
                                                </div>
                                                <div class="col col-xs-3">
                                                      <div class="content content-large text-center">
                                                            46%
                                                      </div>
                                                </div>
                                                      <div class="spin-buttons">
                                                            <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                      </div>
                                          </div>
                                    </div>

                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                                    <div class="panel-heading">
                                          <h3 class="panel-title">Longest Calls Today</h3>
                                    </div>

                                    <div class="panel-body">

                                          <div class="row">
                                                <div class="col-xs-7">
                                                      <div class="content">
                                                            <b>2087</b><br>
                                                            Soproni Dániel 
                                                      </div>
                                                </div>
                                                <div class="col-xs-4">
                                                      <div class="content content-large text-center">
                                                            6m49s
                                                      </div>
                                                </div>
                                                      <div class="spin-buttons">
                                                            <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                      </div>
                                          </div>



                                    </div>
                              </div>
                        </div>
                  </div>                  



            </div>
            <div class="col-sm-3">
                  <div id="systemMessagesPanel" class="panel panel-default net54-system-messages">
                                                <div class="panel-heading">
                                                      <h3 class="panel-title">System Messages</h3>
                                                </div>
                                                <div class="panel-body scroll-pane" style="">
                                                      <div class="spinner"></div>
                                                <ul class="list-group">
                                                <li class="list-group-item" data-id="990"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;888).</span><br><span class="net54-system-message-timestamp">2015.10.22 14:08:38</span></div></li><li class="list-group-item" data-id="989"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;887).</span><br><span class="net54-system-message-timestamp">2015.10.22 09:47:10</span></div></li><li class="list-group-item" data-id="988"><div class="net54-system-message-level net54-system-message-level-error"><span class="glyphicon glyphicon-minus-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, technikai hiba! Hívás azonosító (COID: 1&nbsp;026&nbsp;888).</span><br><span class="net54-system-message-timestamp">2015.10.22 09:47:04</span></div></li><li class="list-group-item" data-id="987"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;881).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:16:56</span></div></li><li class="list-group-item" data-id="986"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;880).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:16:15</span></div></li><li class="list-group-item" data-id="985"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;878).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:07:09</span></div></li><li class="list-group-item" data-id="984"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;877).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:05:38</span></div></li><li class="list-group-item" data-id="983"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;876).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:04:47</span></div></li><li class="list-group-item" data-id="982"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;875).</span><br><span class="net54-system-message-timestamp">2015.10.21 15:04:07</span></div></li><li class="list-group-item" data-id="981"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Rögzítés sikertelen, hangfájl nem található a tárolón! Hívás azonosító (COID: 1&nbsp;026&nbsp;851).</span><br><span class="net54-system-message-timestamp">2015.10.21 10:01:48</span></div></li></ul>
                                          </div>
                                          </div>

                                          <div id="licencePanel" class="panel panel-default">
                                                                              <div class="panel-heading">
                                                                                    <h3 class="panel-title">Licence Information</h3>
                                                                              </div>
                                                                              <div class="panel-body net54-licence-information">
                                                                                    <div class="full-width">
                                                                                          <span>Software Version:</span>
                                                                                          <span style="font-weight: bold">magNETofon v1.0</span>
                                                                                    </div>
                                                                                    <div class="full-width ">
                                                                                          <span>Total Recording</span>
                                                                                          <span>
                                                                                                <span class="status-indicator status-indicator-on">
                                                                                                      on
                                                                                                </span>

                                                                                             </span>
                                                                                    </div>
                                                                                    <div class="full-width ">
                                                                                          <span>Selective Recording</span>
                                                                                          <span class="status-indicator status-indicator-off">
                                                                                                on
                                                                                          </span>
                                                                                    </div>
                                                                                    <div class="full-width ">
                                                                                          <span>ROD Recording</span>
                                                                                                <span class="status-indicator status-indicator-on">
                                                                                                      on
                                                                                                </span>
                                                                                    </div>
                                                                                    <!-- Számszerű licenc limitek -->
                                                                                    <div class="full-width">
                                                                                          <span>Standard Channels:</span>
                                                                                          <span><span id="channels">0</span> / 10</span>
                                                                                    </div>
                                                                                    <div class="full-width ">
                                                                                          <span>ROD Channels:</span>
                                                                                          <span><span id="rodChannels">0</span> / 5</span>
                                                                                    </div>
                                                                                    <div class="full-width">
                                                                                          <span>Standard Endpoints:</span>
                                                                                          <span><span id="endpoints">7</span> / 5</span>
                                                                                    </div>
                                                                                    <div class="full-width ">
                                                                                          <span>ROD Endpoints:</span>
                                                                                          <span><span id="rodEndpoints">0</span> / 5</span>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
            </div>


      </div>
</div>
<div id="tooltipBox"></div>

<script>
</script>