---
title: NET54 Basic HTML Elements
icon: fa fa-font
stylesheets:
- lib/icheck/skins/minimal/_all.css

javascripts:
- lib/flot/jquery.flot.js
- lib/flot/jquery.flot.pie.js
- lib/flot/jquery.flot.threshold.js
- lib/flot/jquery.flot.selection.js
- lib/flot/jquery.flot.resize.js
- lib/flot/jquery.flot.stack.js

scripts: $(function() { metisChart(); });

---

      <!-- Widgets
      ================================================== -->
      <div class="bs-docs-section">
      	<div class="page-header">
      		<div class="row">
      			<div class="col-lg-12">
      				<h1 id="buttons">Widgets</h1>
      			</div>
      		</div>
      	</div>


      	<div class="row">
      		<div class="col-xs-9">
      			<div class="row">
      				<div class="col-lg-6">

      					<div class="panel panel-default">
      						<div class="panel-body">
      							<div id="w1" style="height: 160px;"></div>
      						</div>
      						<div class="panel-footer">
      							Last 7 days average: <b>243</b> calls
      						</div>
      					</div>

      				</div>
      				<div class="col-lg-6">

      					<div class="panel panel-default">
      						<div class="panel-body">
      							<div id="w2" style="height: 160px;"></div>
      						</div>
      						<div class="panel-footer">
      							Today hourly average: <b>33</b> calls
      						</div>

      					</div>

      				</div>
      			</div>


      			<div class="row">
      				<div class="col-lg-6">
      					<div class="panel panel-default">
      						<div class="panel-body">
      							<div class="row">
      								<div class="col-xs-2">
      									<div id="w3" style="height: 40px;width: 40px;"></div>
      								</div>
      								<div class="col-xs-7">
      									Storage usage<br>
      									Total: <b>25 000</b> hours
      								</div>
      								<div class="col-xs-2">
      									<span class="total">87%</span>
      								</div>
      								<div class="col-xs-1">
      									<div class="btn btn-default"><span class="icon-entypo-chevron-up"></span></div>
      									<div class="btn btn-default"><span class="icon-entypo-chevron-down"></span></div>
      								</div>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-6">
      					<div class="panel panel-default">
      						<div class="panel-body">
      							<div class="row">
      								<div class="col-xs-2">
      									<div id="w4" style="height: 40px;width: 40px;"></div>
      								</div>
      								<div class="col-xs-7">
      									Extension  <b>2008</b><br>
      									Longest call today
      								</div>
      								<div class="col-xs-2">
      									<span class="total">87%</span>
      								</div>
      								<div class="col-xs-1">
      									<div class="btn btn-default"><span class="icon-entypo-chevron-up"></span></div>
      									<div class="btn btn-default"><span class="icon-entypo-chevron-down"></span></div>
      								</div>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>


      		</div>

      		<div class="col-xs-3">
      			<div class="panel panel-default">
      			<div class="panel-heading">
      				System messages
      			</div>
      			<ul class="list-group">
      			  <li class="list-group-item">
      			    <span class="badge">14</span> 
      			    Cras justo odio
      			  </li>
      			  <li class="list-group-item">
      			    <span class="badge">2</span> 
      			    Dapibus ac facilisis in
      			  </li>
      			  <li class="list-group-item">
      			    <span class="badge">1</span> 
      			    Morbi leo risus
      			  </li>
      			</ul>
      			</div>
      		</div>


      	</div>


      </div>



