---
title: NET54 Basic HTML Elements
icon: fa fa-font
stylesheets:
---
<!-- Widgets
================================================== -->
<div class="net54-dashboard">
      <div class="row">
            <div class="col-sm-9">
                  <div class="row">
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w1" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Last 7 days average: <b>243</b> calls
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w2" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Today hourly average: <b>33</b> calls
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                                    <div class="panel-heading">
                                          <h3 class="panel-title">Recording Paths</h3>
                                    </div>
                                    <div class="panel-body">
                                          
                                          <div class="row">
                                                <div class="col col-xs-2">
                                                      <div class="chart" id="w4"></div>
                                                </div>
                                                <div class="col col-xs-6">
                                                      <div class="content">
                                                            E:\Magnetofon\voices\temp <br>
                                                            <b>9388MB / 20.48GB </b>
                                                      </div>
                                                </div>
                                                <div class="col col-xs-3">
                                                      <div class="content content-large text-center">
                                                            46%
                                                      </div>
                                                </div>
                                                <div class="spin-buttons">
                                                      <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                      <span class="glyphicon glyphicon-chevron-up"></span>
                                                      </button>
                                                      <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                      <span class="glyphicon glyphicon-chevron-down"></span>
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="panel panel-default net54-spinpanel chart-spinpanel" id="storagePanel">
                                    <div class="panel-heading">
                                          <h3 class="panel-title">Longest Calls Today</h3>
                                    </div>
                                    <div class="panel-body">
                                          <div class="row">
                                                <div class="col-xs-7">
                                                      <div class="content">
                                                            <b>2087</b><br>
                                                            Soproni Dániel
                                                      </div>
                                                </div>
                                                <div class="col-xs-4">
                                                      <div class="content content-large text-center">
                                                            6m49s
                                                      </div>
                                                </div>
                                                <div class="spin-buttons">
                                                      <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                      <span class="glyphicon glyphicon-chevron-up"></span>
                                                      </button>
                                                      <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                      <span class="glyphicon glyphicon-chevron-down"></span>
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-12" id="currentCallsContainer">
                              <div class="panel panel-default net54-current-calls">
                                    <div class="panel-body">
                                          <div class="spinner"></div>
                                    </div>
                                    <table class="table table-hover table-condensed hide">
                                          <thead>
                                                <tr>
                                                      <th></th>
                                                      <th>Channel</th>
                                                      <th>Arrived</th>
                                                      <th>Station</th>
                                                      <th>State</th>
                                                      <th>Recording</th>
                                                      <th>Recording Program</th>
                                                      <th></th>
                                                </tr>
                                          </thead>
                                          <tbody id="currentCalls">
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-sm-3">
            <div id="healthCheckPanel" class="panel panel-default net54-healthcheck">
                                                <div class="panel-heading">
                                                      <h3 class="panel-title">Health Check</h3>
                                                </div>
                                                
                                                <table id="healthCheckTable" class="table table-condensed table-borderless" style="border-collapse: separate;">
                                                      
                                                <tbody id="core"><tr id="coreRow" onclick="net54.healthCheck.toggle('core')" class="healthCheckToggle"><td style="width: 24px"><span class="net54-healthcheck-dropdown glyphicon glyphicon-menu-up"></span></td><td><span>Recorder</span></td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-SystemConfigService" data-service="true" class=""><td></td><td>System Configuration</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-SqlPoolService" data-service="true" class=""><td></td><td>Database Connection</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-CoreService" data-service="true" class=""><td></td><td>Core Module</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-RecLogService" data-service="true" class=""><td></td><td>Recording Logic</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-TSAPIService" data-service="true" class=""><td></td><td>Telephony Service</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-DMCCService" data-service="true" class=""><td></td><td>Media Service</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-CallLoggerService" data-service="true" class=""><td></td><td>Call Logger</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="core-MaintenanceService" data-service="true" class=""><td></td><td>Maintenance</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr></tbody><tbody id="archiver"><tr id="archiverRow" onclick="net54.healthCheck.toggle('archiver')" class="healthCheckToggle"><td style="width: 24px"><span class="net54-healthcheck-dropdown glyphicon glyphicon-menu-up"></span></td><td><span>Archiver</span></td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="archiver-SystemConfigService" data-service="true" class=""><td></td><td>System Configuration</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="archiver-SqlPoolService" data-service="true" class=""><td></td><td>Database Connection</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr><tr id="archiver-ArchiverService" data-service="true" class=""><td></td><td>Archiver</td><td class="text-right"><span class="status-indicator status-indicator-on" title="Ok"></span></td></tr></tbody></table>
                                          </div>
                              <div id="licencePanel" class="panel panel-default net54-licence-information">
                                                                  <div class="panel-heading">
                                                                        <h3 class="panel-title">Licence Information</h3>
                                                                  </div>
                                                                  <table class="table table-condensed table-borderless">
                                                                        <tbody>
                                                                        <tr>
                                                                              <td>Software Version</td>
                                                                              <td class="text-right"><strong>v1.0</strong></td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>Total Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>Selective Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Recording</td>
                                                                              <td class="text-right">                                     <span class="glyphicon glyphicon-ok"></span>
                              </td>
                                                                        </tr>
                                                                        <!-- Számszerű licenc limitek -->
                                                                        <tr>
                                                                              <td>Standard Channels</td>
                                                                              <td class="text-right"><span id="channels">3</span> / 10</td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Channels</td>
                                                                              <td class="text-right"><span id="rodChannels">0</span> / 5</td>
                                                                        </tr>
                                                                        <tr>
                                                                              <td>Standard Endpoints</td>
                                                                              <td class="text-right"><span id="endpoints">4</span> / 5</td>
                                                                        </tr>
                                                                        <tr class="">
                                                                              <td>ROD Endpoints</td>
                                                                              <td class="text-right"><span id="rodEndpoints">0</span> / 5</td>
                                                                        </tr>
                                                                        </tbody>
                                                                  </table>
                                                            </div>
                        </div>
                  </div>
            </div>
            <div id="tooltipBox"></div>
            <script>
            </script>