---
title: NET54 Basic HTML Elements
icon: fa fa-font
stylesheets:
- lib/icheck/skins/minimal/_all.css
javascripts:
- lib/flot/jquery.flot.js
- lib/flot/jquery.flot.pie.js
- lib/flot/jquery.flot.threshold.js
- lib/flot/jquery.flot.selection.js
- lib/flot/jquery.flot.resize.js
- lib/flot/jquery.flot.stack.js
scripts: $(function() { metisChart(); });
---
<!-- Widgets
================================================== -->
<div class="bs-docs-section">
      <div class="page-header">
            <h1 id="buttons">Widgets</h1>
      </div>
      <div class="row">
            <div class="col-sm-9">
                  <div class="row">
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w1" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Last 7 days average: <b>243</b> calls
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                              <div class="panel panel-default">
                                    <div class="panel-body">
                                          <div id="w2" style="height: 160px;"></div>
                                    </div>
                                    <div class="panel-footer">
                                          Today hourly average: <b>33</b> calls
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6">
                              <div class="panel panel-default net54-spinpanel storage-spinpanel" id="storagePanel">
                                    <div class="panel-body">
                                          <div class="left-part">
                                                <div class="content">
                                                      <div class="spinner" style="bottom: 15px;"></div>
                                                </div>
                                                <div class="percentage" id="storagePercentage"></div>
                                          </div>
                                          <div class="spin-buttons">
                                                <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                                </button>
                                                <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                </button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                              <div class="panel panel-default net54-spinpanel storage-spinpanel" id="storagePanel">
                                    <div class="panel-body">
                                          <div class="left-part">
                                                <div class="content">
                                                      <div class="spinner" style="bottom: 15px;"></div>
                                                </div>
                                                <div class="percentage" id="storagePercentage"></div>
                                          </div>
                                          <div class="spin-buttons">
                                                <button type="button" class="btn btn-xs btn-default" id="previousStorage">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                                </button>
                                                <button type="button" class="btn btn-xs btn-default" id="nextStorage">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                </button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-sm-3">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                              System messages
                        </div>
                              <ul class="list-group net54-system-messages"><li class="list-group-item" data-id="75"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2096! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:59</span></div></li><li class="list-group-item" data-id="74"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2087! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:58</span></div></li><li class="list-group-item" data-id="73"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2017! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:58</span></div></li><li class="list-group-item" data-id="72"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2787! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:57</span></div></li><li class="list-group-item" data-id="71"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2096! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:26</span></div></li><li class="list-group-item" data-id="70"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2087! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:26</span></div></li><li class="list-group-item" data-id="69"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2017! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:26</span></div></li><li class="list-group-item" data-id="68"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2787! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:18:25</span></div></li><li class="list-group-item" data-id="67"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2096! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:13:52</span></div></li><li class="list-group-item" data-id="66"><div class="net54-system-message-level net54-system-message-level-warn"><span class="glyphicon glyphicon-exclamation-sign"></span></div><div class="net54-system-message"><span class="net54-system-message-text">Mellék monitorozása sikertelen, mellék: 2087! Hibakód: 71.</span><br><span class="net54-system-message-timestamp">2015.07.21 13:13:52</span></div></li>
                                                                  </ul>
                  </div>
            </div>
      </div>
</div>