/* BEGIN FOOTER */
.net54-footer {
  width: 100%;
  background-color: #ffe9c9;
  padding: 5px 0;
  border-top: 1px solid #fef7ec;
  text-align: center;
  color: #000;
  font-weight: bold
}

/** END FOOTER */