/* BEGIN FOOTER */
.net54-footer {
  width: 100%;
  background-color: @panel-footer-bg;
  padding: 5px 0;
  border-top: 1px solid @panel-inner-border;
  text-align: center;
  color: #000;
  font-weight: bold;
}

/** END FOOTER */