@import "style";

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);

@font-family-sans-serif:  Lato, Arial, sans-serif;
@font-family-serif:       Lato, Arial, sans-serif;


@brand-primary:         #d89a37;
@brand-secondary:         #d87137;


@gray:    #444;

@border-radius-base:        3px;
@border-radius-large:       5px;
@border-radius-small:       2px;


@text-color:            @gray;


@jsp-track-bg: lighten(@gray-lighter,3%);
@jsp-drag-bg:  darken(@gray-lighter, 5%);


@navbar-default-color:             #777;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             darken(@brand-primary, 5%);
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            @brand-secondary;
@navbar-default-link-disabled-color:       @brand-primary;
@navbar-default-link-disabled-bg:          transparent;


@navbar-default-toggle-hover-bg:           @brand-primary;
@navbar-default-toggle-icon-bar-bg:        @brand-primary;
@navbar-default-toggle-border-color:       @brand-primary;





@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @brand-secondary;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @brand-secondary;

//** Dropdown link text color.
@dropdown-link-color:            @gray;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @brand-primary;;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;



@panel-default-text:          @gray;
@panel-default-border:        darken(@gray-lighter, 5%);
@panel-default-heading-bg:    lighten(@gray-lighter, 3%);

@panel-inner-border:          @gray-lighter;
@panel-footer-bg:             @panel-default-heading-bg;



@table-bg-accent:               @gray-lighter;
//** Background color used for `.table-hover`.
@table-bg-hover:                @gray-lighter;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;
@table-header-bg:            @panel-default-heading-bg;

@btn-default-color:              @gray-dark;
@btn-default-bg:                 @gray-lighter;
@btn-default-border:             darken(@btn-default-bg, 5%);


body{
  background: #fff;
}


.navbar-default{

  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);

  
  .container-fluid{
    max-width: none;
    .navbar-brand{
      margin: 0 20px;

    }
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing{
    background: rgba(0,0,0,0.9);
  }

  .navbar-toggle{
    border: 1px solid rgba(255,255,255,0.3);
    background: darken(@brand-primary, 4%);
    
    .icon-bar{
      background: #fff;
    }

    &:hover{
      background: darken(@brand-primary, 7%);

      .icon-bar{
        background: #fff;
      }

    }
  }

  .dropdown-menu{
    background: rgba(0,0,0,0.8);
    li{
      &.divider{
        background-color: rgba(255,255,255,0.3);
      }
    a{
      color: #fff;
      &:hover{
        background: rgba(0,0,0,0.5);
      }
    }
    }
  }
  .navbar-brand{
    background: url(../img/net54-uzleti-kommunikacio-logo.png) no-repeat 50% center / 75% auto !important;
    width: 194px;
    height: 48px;
    background-size: 100% auto;
    display: block;
  }
}

.panel{
  border-width: 1px;
  .box-shadow(0 1px 1px rgba(0,0,0,.05)); // drop shadow
  .panel-heading{
    border-radius: 0;
  }
}

footer {

  &.net54-footer {
    background-color: @gray-lighter;
    color: @gray;
    border-top: 1px solid darken(@gray-lighter, 5%);
  }
}




