

.btn-circle {
  border-radius: 50%;
  text-align: center;
  padding: 0;
  position: relative;
  .square(36px);   

  .net54-icon{
    font-size: 18px;
    .square(18px);
    margin: -10px 0 0 -8px;
  }

  &.btn-lg {
    .square(50px);   

    .net54-icon{
      font-size: 26px;
      .square(26px);
      margin: -13px 0 0 -12px;
    }

  }
  &.btn-sm {
    .square(28px);   

    .net54-icon{
      font-size: 16px;
      .square(16px);
      margin: -8px 0 0 -8px;
    }

  }
  &.btn-xs {

    .square(20px);   

    .net54-icon{
      font-size: 12px;
      .square(12px);
      margin: -6px 0 0 -5px;
    }
  }

  .net54-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
  }
}


.btn.btn-icon{
  padding-right: 2.5em;
  position: relative;
  .net54-icon{
    position: absolute;
    top: 50%;
    font-size: 1.2em;
    margin-top: -0.5em;
    margin-left: 0.5em;
  }
}