.net54-dashboard {
	padding-top: 10px;
	max-width: 1400px;

	.net54-widget {
		&-placeholder {
			height: 160px;
		}

		.panel-footer {
			font-size: 18px;
			color: @brand-primary;
			b {
				font-size: 20px;
				color: black;
			}
		}
	}

	.net54-time-widget {
		overflow: hidden;
		padding: 0;

		.net54-clock {
			font-size: 34px;
			text-align: center;
			overflow: hidden;
			padding-top: 5px;
			padding-bottom: 5px;
			color: @brand-primary;
			letter-spacing: 2px;
		}

		.net54-date {
			float: right;
			font-size: 20px;
			text-align: center;
			width: 125px;
			padding: 18px 0;
			line-height: 22px;
			color: @gray;
		}
	}

	.net54-system-messages {
		.panel-body {
			height: 400px;
			overflow: scroll;
			padding:0;
		}

		.list-group-item {
			padding-left: 5px;
			word-break: break-word;
			border-left: none;
			border-right: none;
			font-size: 0.9em;
			line-height: 1.2;

			.net54-system-message-timestamp{
				font-size: 0.9em;
				font-weight: bold;
			}
			&:first-child{
				border-top: none;
			}

			&.added {
				opacity: 0;
				animation: fadein 2s ease-in forwards;
			}
		}

		ul div {
			display: inline-block;
		}

		.net54-system-message-level {
			float: left;
			width: 30px;
			text-align: center;
			vertical-align: middle;
			&-info {
				color: @brand-info;
			}

			&-warn {
				color: @brand-warning;
			}

			&-error {
				color: @brand-danger;
			}

			&-timestamp {
				color: @gray;
			}
			&-ok {
				color: @brand-success;
			}
		}

		.net54-system-message {
			width: ~"calc(100% - 30px)";
		}

	}

	.net54-recording {
		// text-align: center;
		// font-size: 18px;
		// padding: 1px 0 0 5px;
		color: @brand-primary;

		.pending {
			opacity: 0.4;
		}

		.ok {
			color: @brand-success;
		}

		.info {
			color: @brand-info;
		}

		.net54-dashboard-loader {
			width: 100%;
		}
	}

	.net54-current-calls {
		.panel-body {
			height: 100px;
		}
	}

	.net54-invalid-licence {
		a {
			paddding: 6px;
			.glyphicon{
				color: @brand-warning;
				font-size: 32px;
			}
		}

		a:hover .glyphicon {
			color: @brand-secondary;
		}
	}
	
	.net54-licence-information,
	.net54-healthcheck {
		table{
			margin: 0;
			td, th {
				padding: 2px 0px;
			}
		}
	}
	
	.net54-healthcheck {
		tr.healthCheckToggle:hover td, tr.healthCheckToggle:hover th {
			background-color: @brand-secondary-light;
			cursor: pointer;
		}

		.panel-body {
			//height: 60px;
		}
	}
	
	.spinner {
		min-width: 16px;
		min-height: 16px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 48px;
			height: 48px;
			margin-top: -24px;
			margin-left: -24px;
			border-radius: 50%;
			border: 4px solid transparent;
			border-top-color: @brand-primary;
			border-bottom-color: @brand-warning;
			animation: spinner 1.5s ease infinite;
		}
	}

	@media (max-width: 991px) {
		.net54-system-messages .spinner {
			top: 40px;
		}

		.net54-widget .spinner {
			bottom: 40px;
		}

		.net54-spinpanel .spinner {
			top: 35px;
		}

		.net54-healthcheck .spinner {
			top: 30px;
		}
	}

	@media (min-width: 992px) {
		.net54-widget .spinner {
			bottom: 50px;
		}

		.net54-spinpanel .spinner {
			bottom: 0;
			top: 10px;
		}

		.net54-system-messages .spinner {
			top: 20px;
		}

		.net54-current-calls .spinner {
			bottom: 15px;
		}

		.net54-healthcheck .spinner {
			top: 12px;
		}
	}
}

