.panel{
	border-width: 6px;
	.box-shadow(~"0 1px 1px rgba(0,0,1,.16)"); // drop shadow
}

.panel-heading {
  padding: 7px 10px;
  .clearfix;

  .btn-group{
  	display: block;
  	float: right;
    height: 1em;
  	a{
      display: inline-block;
  		padding: 0 3px;
  		line-height: 0;
  		border: none; 
      font-size: 1.2em;
      position: relative;
      top: -1px;

      //text-shadow: 1px 1px rgba(0,0,0,0.3);

      &.net54-system-message-level{
        width: auto;
      }
  	}
  }

}

.panel-body{
	padding:10px;
}


.panel-title{
	font-size: 14px;
	font-weight: 600;
	float: left;
}
