@widget-height: 80px;
@spinbuttons-width: 30px;
@net54-red-10: rgba(186, 66, 71, .1);
@spinbutton-border: 1px solid @net54-red-10;
@percentage-width: 100px;
@length-width: 160px;

@font-large: 14px;
@font-Large: 18px;
@font-huge: 24px;
@font-HUGE: 32px;

.oneliner () {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.net54-spinpanel {
	.panel-body {
		padding: 0;
		position: relative;
	}
	.row{
		margin: 0 -6px;
	}
	.col{
		padding: 0 6px;
	}
	.spin-buttons {
		white-space: nowrap;
		vertical-align: middle;
		display: table-cell;
		float: right;
		position: absolute;
		top:0;
		right: 0;
		width: @spinbuttons-width;
		height: @widget-height;
		> .btn {
			display: block;
			height: 50%;
			width: 100%;
			max-width: 100%;
			padding: 8px;
			border-radius: 0;
			border: 0;
			border-left: @spinbutton-border;

			.glyphicon-chevron-up {
				padding-left: 1px;
			}
		}

		> .btn:first-child {
			border-bottom: @spinbutton-border;
		}
	}
	
	&.chart-spinpanel {
		@spacing: 15px; 
		.content, .chart{
			height: @widget-height - @spacing * 2 ;
			margin: @spacing 0 @spacing 0;
		}
		.chart{
			width: auto;
			margin-left: @spacing;
		}
			
		.content{

			.content-data{
				line-height: ceil((@widget-height - @spacing * 2 ) / 3);

				li{
					text-overflow: ellipsis;
					overflow:hidden; 
					white-space:nowrap
				}
			}
			&.content-large{
				font-size: @font-HUGE;
				font-weight: 700;
				white-space: nowrap;
				text-align: right;
			}
		}

	}

	&.storage-spinpanel {
		.left-part {
			.content {
				width: calc(100% ~"-" @percentage-width);
				float: left;
				padding: 6px;
				height: @widget-height;
				.description {
					.oneliner ();
					width: 100%;
					margin-top: 3px;
					font-size: @font-Large;
				}

				.progress {
					margin: 0;
					margin-bottom: 5px;

					.progress-bar {
						min-width: 10%;
					}
				}

				.free-space {
					.oneliner ();
					text-align: center;
					width: 100%;
					font-size: @font-large;
				}
			}

			.percentage {
				display: inline-block;
				font-size: @font-HUGE;
				line-height: @font-HUGE;
				padding: ((@widget-height - @font-HUGE) / 2) 0;
				width: @percentage-width;
				float: left;
				text-align: center;
				overflow: hidden;
			}
		}
	}

	&.longest-calls-spinpanel {
		.left-part {
			.content {
				width: calc(100% ~"-" @length-width);
				float: left;
				padding: 6px;
				height: @widget-height;

				.stationName,
				.stationNumber {
					.oneliner ();
					font-size: @font-huge;
					padding-left: 5px;
				}

				.station {
					.oneliner ();
					display: inline-block;
					font-size: @font-HUGE;
					line-height: @font-HUGE;
					padding: ((@widget-height - @font-HUGE) / 2 - 3px) 5px 0;
				}

				.description {
					.oneliner ();
					font-size: @font-Large;
					padding: ((@font-huge - @font-Large) / 2) 0;
					color: @brand-primary;
				}
			}

			.length {
				display: inline-block;
				font-size: @font-HUGE;
				line-height: @font-HUGE;
				padding: ((@widget-height - @font-HUGE) / 2) 0;
				width: @length-width;
				float: left;
				text-align: center;
				overflow: hidden;

				&.twoline {
					padding: ((@widget-height - @font-HUGE * 2) / 2) 0;
				}
			}
		}
	}
}

