@class-name: net54-spinner;

.has-@{class-name} {
	.@{class-name} {
		display: inline-block;
		opacity: 0;
		width: 0;
		transition: opacity 0.25s, width 0.25s;
		animation: spinner 1.5s linear infinite;
	}

	&.active {
		cursor: progress;
	}

	&.active .@{class-name} {
		opacity: 1;
		width: auto;
	}
	&.btn-mini.active .@{class-name} {
		width: 10px;
	}
	&.btn-small.active .@{class-name} {
		width: 13px;
	}
	&.btn.active .@{class-name} {
		width: 16px;
	}
	&.btn-large.active .@{class-name} {
		width: 19px;
	}
}
